<div class="navbar" [ngSwitch]="authenticationService.getPage()">
        <div *ngSwitchCase="'login'">
                <a [routerLink]="['login']">Login</a>
                <a [routerLink]="['register']">Register</a>
        </div>

        <div *ngSwitchCase="'register'">
                <a [routerLink]="['login']">Login</a>
                <a [routerLink]="['register']">Register</a>
        </div>

        <div *ngSwitchCase="'home'">
                <a [routerLink]="['home']">Home</a>
                <a [routerLink]="['checkup']">Checkup</a>
                <a [routerLink]="['profile']">Profile</a>
                <a (click)="logout()"  [routerLink]="['login']">Logout</a>
        </div>
        
        <div *ngSwitchCase="'checkup'">
                <a [routerLink]="['home']">Home</a>
                <a [routerLink]="['checkup']">Checkup</a>
                <a [routerLink]="['profile']">Profile</a>
                <a (click)="logout()"  [routerLink]="['login']">Logout</a>
        </div>

        <div *ngSwitchCase="'test'">
                <a [routerLink]="['home']">Home</a>
                <a [routerLink]="['covidTests']">Covid Tests</a>
                <a [routerLink]="['profile']">Profile</a>
                <a (click)="logout()"  [routerLink]="['login']">Logout</a>
        </div>

        <div *ngSwitchCase="'covidTests'">
                <a [routerLink]="['home']">Home</a>
                <a [routerLink]="['test']">Covid Test</a>
                <a [routerLink]="['profile']">Profile</a>
                <a (click)="logout()"  [routerLink]="['login']">Logout</a>
        </div>

        <div *ngSwitchCase="'profile'">
                <a [routerLink]="['home']">Home</a>
                <a (click)="logout()"  [routerLink]="['login']">Logout</a>
        </div>

        <div *ngSwitchCase="'admin'">
                <a [routerLink]="['admin']">Home</a>
                <a (click)="logout()"  [routerLink]="['login']">Logout</a>
        </div>

</div>
 <router-outlet></router-outlet>
     