<!DOCTYPE html>
<html lang="en">

<body>

    <div class="container">

        <div class="title">Profile Info</div>

        <form [formGroup] = "profileForm" action="#" id="form" (ngSubmit) = "updateUserData()">
            <div class="content">

                <label for="search">Email: </label>
                <input [formControlName] = "'email'" type="text" name="email" id="email">

                <label for="search">Firsname: </label>
                <input [formControlName] = "'firstName'" type="text" name="firstname" id="firstname">

                <label for="search">Lastname: </label>
                <input [formControlName] = "'lastName'" type="text" name="lastname" id="lastname" >

                <label for="search">Phone: </label>
                <input [formControlName] = "'phone'" type="text" name="phone" id="phone" >

                <label for="search">Age: </label>
                <input [formControlName] = "'age'" type="text" name="age" id="age" >

                <label for="gender">Gender:</label>
                <select [formControlName] = "'gender'" name="gender" id="gender">
                    <option value="female">female</option>
                    <option value="male">male</option>
                </select>

                <label for="gender">Country:</label>
                <select [formControlName] = "'country'" name="country" id="country">
                    <option *ngFor="let country of countries" value="{{country.id}}">{{country.countryName}}</option>
                </select>

                <div class="submit-div">
                    <input type="submit" name="submit" id="submit" value="SAVE">
                </div>
            </div>
        </form>

    </div>

    <div class="footer"></div>

</body>


</html>